<div class="backgroudGradient"></div>
<div class="content-main">
    <h1 class="header-title">Animates to CSS</h1>
</div>

<button class="buttonInit" (click)="tradeViewPage()">
    < Next>
</button>



<section class="content-two-sobre">
    <div class="content">
        <div class="backgroud-model"></div>
        <div class="model-container">
            <h1 style="display: none;">Ainda não acabou</h1>
            <button style="display: none;" (click)="modelActive()" class="buttonNextModel">
                < Next>
            </button>
        </div>


        <div class="msg-container">
            <h1 class="msg welcome">Quer ver mais animações?</h1>
        </div>
        <img class="loadingImg" src="assets/img/icon_load.png" alt="progressBall">
        <button (click)="modelActive()" class="buttonNext">
            < Next>
        </button>
    </div>
</section>