* {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    animation: gradientMover 15s ease-in alternate infinite;
    height: 50vh;
    background-image: linear-gradient(-45deg, #f9c743, #b31ed4, #952deb, #f9c743);
    background-size: 300%, 300%;
}
@keyframes gradientMover {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.content-main {
    max-width: 80%;
    margin: 0 auto;
    .header-title {
        transform: translateY(-100%);
        animation: showView 1s ease forwards;
        display: grid;
        place-items: center;
        font-size: 10rem;
        color: white;
    }
    .featTo-Title {
        font-size: 7rem;
        color: white;
    }
}
.carousel-container {
    width: 80%;
    animation: showView 1s ease forwards;
    height: 45%;
    margin: 0 auto;
    display: flex;
    position: fixed;
    right: 0;
    left: 0;
    transform: translateY(200%);
    .carousel {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .items {
            cursor: pointer;
            overflow: hidden;
            position: relative;
            margin: 20px;
            border-radius: 25px;
            background-color: #f4f6f7;
            height: auto;
            flex: 1 1 500px;
            .prenchimento{
                background-color: blueviolet;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                transform: translateX(-100%);
                a{
                    display: grid;
                    place-items: center;
                    height: 100%;
                    text-decoration: none;
                    font-size: 8rem;
                    color: white;
                }
            }
            &:hover{
                .prenchimento{
                    animation: showAnimatedPrenchimentoButton 1s ease forwards;
                }
            }
            @keyframes showAnimatedPrenchimentoButton {
                to {
                    transform: translateX(0);
                }
            }
            .title {
                color: #952deb;
                display: grid;
                place-items: center;
                font-size: 8rem;
            }
        }
    }
    
    @keyframes showView {
        to{
            transform: translateY(0);
        }
    }
}
