* {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-animation: gradientMover 15s ease-in alternate infinite;
          animation: gradientMover 15s ease-in alternate infinite;
  height: 50vh;
  background-image: linear-gradient(-45deg, #f9c743, #b31ed4, #952deb, #f9c743);
  background-size: 300%, 300%;
}

@-webkit-keyframes gradientMover {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradientMover {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.content-main {
  max-width: 80%;
  margin: 0 auto;
}

.content-main .header-title {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-animation: showView 1s ease forwards;
          animation: showView 1s ease forwards;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 10rem;
  color: white;
}

.content-main .featTo-Title {
  font-size: 7rem;
  color: white;
}

.carousel-container {
  width: 80%;
  -webkit-animation: showView 1s ease forwards;
          animation: showView 1s ease forwards;
  height: 45%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  right: 0;
  left: 0;
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
}

.carousel-container .carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.carousel-container .carousel .items {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  margin: 20px;
  border-radius: 25px;
  background-color: #f4f6f7;
  height: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 500px;
          flex: 1 1 500px;
}

.carousel-container .carousel .items .prenchimento {
  background-color: blueviolet;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.carousel-container .carousel .items .prenchimento a {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 100%;
  text-decoration: none;
  font-size: 8rem;
  color: white;
}

.carousel-container .carousel .items:hover .prenchimento {
  -webkit-animation: showAnimatedPrenchimentoButton 1s ease forwards;
          animation: showAnimatedPrenchimentoButton 1s ease forwards;
}

@-webkit-keyframes showAnimatedPrenchimentoButton {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes showAnimatedPrenchimentoButton {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.carousel-container .carousel .items .title {
  color: #952deb;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 8rem;
}

@-webkit-keyframes showView {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes showView {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=style.css.map */