.backgroudGradient {
    &.tradeBackgroud {
        transition: 2s ease;
        background-size: 400%, 900%;
    }
    position: fixed;
    z-index: -1;
    animation: gradientMover 15s ease-in alternate infinite;
    height: 100%;
    background-image: linear-gradient(-45deg, #f9c743, #b31ed4, #952deb, #f9c743);
    background-size: 300%, 300%;
}
.content-main {
    position: absolute;
    z-index: -1;
    margin: 0 auto;

    .header-title {
        transform: translateY(-40%);
        animation: showView 1s ease forwards;
        display: grid;
        place-items: center;
        font-size: 10rem;
        color: white;
    }
}
button {
    animation: showView 2s ease forwards;
    animation-delay: 200ms;
    transform: translateY(200%);
    cursor: pointer;
    position: absolute;
    top: calc(50% + 100px);
    left: calc(50% - 100px);
    background: white;
    outline: none;
    border: 0;
    font-size: 3.5rem;
    height: 60px;
    width: 180px;
    border-radius: 10px;
   
    &:hover {
        transition: 300ms ease-in-out;
        height: 70px;
        width: 190px;
        color: #952deb;
        background: #ffee00;
    }
}
.progressBall {
    position: fixed;
    top: calc(50% + 300px);
    left: calc(50% - 40px);
    display: flex;
    .ball.on {
        margin-right: 7px;
        top: 0;
        left: 0;
        background: rgb(226, 199, 199);
        width: 15px;
        height: 15px;
        border-radius: 50%;
        &.ball1 {
            background: white;
        }
        &.ball2 {
            background: white;
        }
        &.ball3 {
            background: white;
        }
        &.ball4 {
            background: white;
        }
    }
}
.carousel-container {
    &.on {
        transition: 600ms ease-in-out;
        transition-delay: 3s;
        background-size: 900%, 900%;
        left: 0;
    }
    position: fixed;
    left: 100%;
    animation: showView 1s ease forwards;
    height: 100%;

    background-image: linear-gradient(-45deg, #f9c743, #b31ed4, #952deb, #f9c743);
    background-size: 300%, 300%;
    margin: 0 auto;
    display: flex;
    transform: translateY(200%);
    .carousel {
        display: flex;
        position: absolute;
        top: 100%;

        justify-content: flex-end;
        .items {
            width: 200px;
            cursor: pointer;
            overflow: hidden;
            position: relative;
            margin: 20px;
            border-radius: 25px;
            background-color: #ffee00;
            height: 100px;
            .prenchimento {
                background-color: blueviolet;
                transform: translateX(-100%);
                a {
                    display: grid;
                    place-items: center;
                    height: 100%;
                    text-decoration: none;
                    font-size: 3rem;
                    color: white;
                }
            }
            &:hover {
                .prenchimento {
                    animation: showAnimatedPrenchimentoButton 1s ease forwards;
                }
            }
            .button_next {
                display: grid;
                place-items: center;
                font-size: 3rem;
                color: white;
            }
        }
    }
}
